<IfModule mod_rewrite.c>
  RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond $1 !^(index\.php|assets)
RewriteCond %{REQUEST_URI} !\.(pdf|mp4|mp3|jpg|png|xml|zip)$
RewriteRule ^(.*)$ index.php/?%{QUERY_STRING}&node=$1 [L]
</IfModule>

# https://gist.github.com/nixta/0b98d7975562bc31c4c9
# Add these three lines to CORSify your server for everyone.
# https://www.webconfs.com/http-header-check.php

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
